.sbp-preview {
    border-radius: 0.35rem;
    border: 0.25rem solid #e0e5ec;
    border-style: solid;
  }
  .sbp-preview .sbp-preview-content {
    padding: 1.5rem;
    border-bottom: 1px solid #e0e5ec;
    position: relative;
  }
  .sbp-preview .sbp-preview-code {
    background-color: #f2f6fc;
    padding: 1.5rem;
    border-bottom: 1px solid #e0e5ec;
  }
  .sbp-preview .sbp-preview-code .nav-tabs {
    border-bottom-color: transparent;
    font-size: 0.75rem;
    font-weight: 500;
  }
  .sbp-preview .sbp-preview-code .nav-tabs .nav-item .nav-link {
    border-bottom: 0;
    display: inline-flex;
    align-items: center;
  }
  .sbp-preview .sbp-preview-code .nav-tabs .nav-item .nav-link.active {
    border-color: transparent;
    background-color: #2f2f2f;
    color: white;
  }
  .sbp-preview .sbp-preview-code .nav-tabs .nav-item .nav-link .img-pug {
    height: 1em;
    padding: 1px 0;
  }
  .sbp-preview .sbp-preview-text {
    background-color: #f2f6fc;
    font-size: 0.875rem;
    padding: 1.5rem;
  }

  .timeline .timeline-item {
    display: flex;
    align-items: flex-start;
  }
  .timeline .timeline-item .timeline-item-marker {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .timeline .timeline-item .timeline-item-marker .timeline-item-marker-text {
    font-size: 0.875rem;
    width: 6rem;
    color: #a7aeb8;
    text-align: center;
    margin-bottom: 0.5rem;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .timeline .timeline-item .timeline-item-marker .timeline-item-marker-indicator {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    background-color: #f2f6fc;
    border-radius: 100%;
  }
  .timeline .timeline-item .timeline-item-content {
    padding-top: 0;
    padding-bottom: 2rem;
    padding-left: 1rem;
    width: 100%;
  }
  .timeline .timeline-item:last-child .timeline-item-content {
    padding-bottom: 0 !important;
  }
  
  @media (min-width: 576px) {
    .timeline .timeline-item .timeline-item-marker {
      flex-direction: row;
      transform: translateX(1.625rem);
      margin-bottom: 0;
    }
    .timeline .timeline-item .timeline-item-marker .timeline-item-marker-text {
      margin-right: 0.5rem;
      margin-bottom: 0;
    }
    .timeline .timeline-item .timeline-item-content {
      padding-top: 0.75rem;
      padding-bottom: 3rem;
      padding-left: 3rem;
      border-left: solid 0.25rem #f2f6fc;
    }
    .timeline .timeline-item:last-child .timeline-item-content {
      border-left-color: transparent;
    }
  }
  .timeline.timeline-sm .timeline-item .timeline-item-marker {
    transform: translateX(0.875rem);
  }
  .timeline.timeline-sm .timeline-item .timeline-item-marker .timeline-item-marker-text {
    width: 3rem;
    font-size: 0.7rem;
  }
  .timeline.timeline-sm .timeline-item .timeline-item-marker .timeline-item-marker-indicator {
    height: 1.5rem;
    width: 1.5rem;
    font-size: 0.875rem;
  }
  .timeline.timeline-sm .timeline-item .timeline-item-marker .timeline-item-marker-indicator .feather {
    height: 0.75rem;
    width: 0.75rem;
  }
  .timeline.timeline-sm .timeline-item .timeline-item-content {
    font-size: 0.875rem;
    padding-top: 0.15rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
  }
  
  .timeline.timeline-xs .timeline-item .timeline-item-marker {
    transform: translateX(0.5625rem);
  }
  .timeline.timeline-xs .timeline-item .timeline-item-marker .timeline-item-marker-text {
    width: 3rem;
    font-size: 0.7rem;
  }
  .timeline.timeline-xs .timeline-item .timeline-item-marker .timeline-item-marker-indicator {
    height: 0.875rem;
    width: 0.875rem;
    font-size: 0.875rem;
    border: 0.125rem solid #fff;
    margin-top: -0.125rem;
  }
  .timeline.timeline-xs .timeline-item .timeline-item-content {
    font-size: 0.875rem;
    padding-top: 0;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
  }
  